body {
    font-family: Arial, sans-serif;
    background-color: #7ed4ac;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #1bc483;
    border-radius: 8px;
    box-shadow: 0 30px 30px rgba(14, 11, 11, 0.1);
    padding: 20px;
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#addTaskBtn {
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #166929;
    color: #fff;
    cursor: pointer;
}

#addTaskBtn:hover {
    background-color: #135521;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li.completed {
    text-decoration: line-through;
    color: #070606;
}

button.remove-btn {
    background: none;
    border: none;
    color: #dc3545;
    cursor: pointer;
}

button.remove-btn:hover {
    color: #c82333;
}
